<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/uploadImage.css">
    <title>Document</title>
</head>
<body>
    <h1>Upload your file to run inference : </h1>
    <!-- <form action="/detect/uploadFile" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit">
    </form> -->
    <form id="file-upload-form" class="uploader" action="/detect/uploadFile" method="post" enctype="multipart/form-data">
        <input id="file-upload" type="file" name="file-upload"/>
      
        <!-- <label for="file-upload" id="file-drag">
          <img id="file-image" src="#" alt="Preview" class="hidden">
          <div id="start">
            <i class="fa fa-download" aria-hidden="true"></i>
            <div>Select a file or drag here</div>
            <div id="notimage" class="hidden">Please select an image</div>
            <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
          </div>
          <div id="response" class="hidden">
            <div id="messages"></div>
            <progress class="progress" id="file-progress" value="0">
              <span>0</span>%
            </progress>
          </div>
        </label> -->
        
        <input type="submit" class="form-submit-button">
      </form>
</body>
</html>